<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>Free Code Camp project APIs</h1>
        <hr />

        <h2>APIs</h2>
        <p><a href="/api/timestamp">Timestamp Microservice</a></p>
        <p><a href="/api/headerparser">Header Parser Microservice</a></p>
        <p><a href="/api/urlshortener">URL Shortener Microservice</a></p>
        <p><a href="/api/exercise-tracker">Exercise Tracker Microservice</a></p>
        <p><a href="/api/filemetadata">File Metadata Microservice</a></p>
      </div>

      <div class="endpoints">
        <h2>ENDPOINTS</h2>
        <h4>
          GET /api
          GET /api/timestamp
          GET /api/timestamp/now
          GET /api/timestamp/:date
          GET /api/headerparser
          GET /api/headerparser/whoami
          GET /api/urlshortener
          POST /api/urlshortener/shorturl
          GET /api/urlshortener/shorturl/:short
          GET /api/exercise-tracker
          POST /api/exercise-tracker/users
          POST /api/exercise-tracker/users/:_id/exercises
          GET /api/exercise-tracker/users
          GET /api/exercise-tracker/users/:_id/logs
          GET /api/filemetadata
          POST /api/filemetadata/fileanalyse
        </h4>
      </div>

      <div class="footer">
        <a href="https://loukis-13.github.io/">https://loukis-13.github.io/</a>
      </div>
   </body>


</html>
